<div *ngIf="showEmbed" class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" [src]="link | safe" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<h2>MATERACE W WASZYM RYTMIE:</h2>
<div class="row">
  <div class="col-sm-4" *ngFor="let selected of matchMattresses | keyvalue : valueDescOrder | slice:0:3">
    <img class="img-fluid" src="https://hilding.pl/png/product/mambo.jpg"/>
    <div class="row">
      <div class="col-sm-2">
        <div class="rounded-circle number-circle">{{selected.value}}</div>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm-4">
            <h3 class="mattress-header text-uppercase">{{selected.key}}</h3>
          </div>
          <div class="col-sm-8">
            <button class="btn btn-play" (click)="playVideo(selected.key)">
              <fa-icon [icon]="faPlay"></fa-icon>
              play
            </button>
          </div>
        </div>
        <p>Nowoczesny materac wyposażony w 7-strefowy
          system drobnych...</p>
        <a href="https://hilding.pl/produkt/materace-kieszeniowe-_23/hilding-pasodoble_39.html" class="text-uppercase">Zobacz
          więcej</a>
        <h3>1 399,99 PLN</h3>
        <span class="price">Cena zawiera podatek VAT 23%</span>
        <a class="btn btn-primary text-uppercase" href="https://hilding.pl/sklepy-z-materacami/">
          <fa-icon [icon]="faSearch"></fa-icon>
          znjadź salon
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="summary-footer">
  <div class="row justify-content-end mt-5">
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="print()">Wydrukuj</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary" (click)="restart()"> Zacznij od nowa</button>
    </div>
  </div>
</div>
