<div *ngIf="index  < dataService.questionArray.length">
  <p>krok {{index + 1}} z {{dataService.questionArray.length}}</p>
  {{dataService.questionArray[index]}}
  <app-question [selectedValue]="selectedValue" [question]="dataService.stepData.question" [answersMap]="dataService.stepData.answerArray" (selectedValuesMapEmitter)="onSelectedValuesMapChange($event)"></app-question>

  <button type="button" class="btn btn-link float-right" (click)="next(dataService.questionArray[index])">{{(index + 1 < dataService.questionArray.length ? 'DALEJ >' : 'SPRAWDz materac dla was' ) | uppercase}}</button>
  <!--<ul>-->
  <!--  <li *ngFor="let mattress of dataService.mattresses[10]">{{mattress}}</li>-->
  <!--</ul>-->
</div>

<div *ngIf="index + 1 > dataService.questionArray.length">
  <app-summary [matchMattresses]="matchMattresses" [showEmbed]="showEmbed"></app-summary>
</div>
